/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.24_@babel+core@7._0c7e6f2743654e4d39a6c84bf81deb40/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.24_@babel+core@7._0c7e6f2743654e4d39a6c84bf81deb40/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/Apps/Biography/estilofoto.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Biography.css */

.crt-frame {
  width: 14rem;  /* Equivalente a w-24 */
  height: 14rem; /* Equivalente a h-24 */
  border: 1px solid #000; /* Moldura preta para dar um ar antigo */
  position: relative;
  overflow: hidden;
  
}

/* Efeito de scanlines para simular uma tela CRT */
.crt-frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.1) 1px,
    rgba(0, 0, 0, 0.1) 1px
  );
}

/* Efeitos aplicados na imagem */
.crt-frame img {
  filter: contrast(1.2) brightness(1.3) saturate(1.0);
  image-rendering: pixelated; /* Efeito pixelado para remeter às telas antigas */
  width: 100%;
  height: 100%;
  display: block;
}

